body {
  font-family: Verdana, sans-serif;
  font-size: 100%;
  background-color: rgb(218, 218, 183); 
  background-image: url('images/bullseye.png'); 
  background-repeat: repeat; 
  background-position: center top; 
  position: relative; 
}





h1 {
  font-family: "Marko One", Georgia, serif; 
  color: #993399; 
}

h2 {
  font-family: Georgia, serif; 
  color: #cc6600; 
}

header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background: url(images/purpledot.png) center top
  repeat-x;
  background:
  url(images/purpledot.png) left top repeat-y,
  url(images/purpledot.png) right top repeat-y,
  url(images/gooseshadow.png) 90% bottom no-repeat;
  background-color: rgba(255,255,255,.5);

}

strong {
  font-style: italic;
  color: rgb(255, 187, 71); 
}

dt strong {
  color: rgb(255, 187, 71); 
}

.price {
  font-family: Georgia, serif; 
  font-style: italic;
  color: gray; 
}

.label {
  font-weight: bold;
  font-variant: small-caps;
}

p.warning, sup {
  font-size: small;
  color: red;
}
